.canvas {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: 1px solid #222;
  margin: auto;
}

.container {
  text-align: center;
}

.header {
  position: relative;
  z-index: 10;
}