.canvas {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: 1px solid #222;
  margin: auto;
}

.container {
  text-align: center;
}

.header {
  position: relative;
  z-index: 10;
}

.sidebar {
  position: absolute;
  z-index: 10;
  right: 100px;
}

.links {
  text-align: left;
  list-style-type: none;
}

.links li {
  margin-bottom: 20px;
  text-decoration: none;
}

.links a {
  color: #222;
}